BACKEND_PORT=8081
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=ChatMe
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/ChatMe
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

APP_JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2/callback/google

REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2/callback/google
REACT_APP_GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CENTRIFUGO_JWT_SECRET=
CENTRIFUGO_API_KEY=
CENTRIFUGO_ADMIN_PASSWORD=
CENTRIFUGO_ADMIN_SECRET=
CENTRIFUGO_API_URL=http://centrifugo:8000
